{{ define "content" }}
{{ $termName := .Data.Plural }}
{{ $terms := .Data.Terms.ByCount }}
{{ $length := len $terms }}
{{ $type := .Type }}
<div class="page-wrap">
  <h2 class="page-title">- {{ title .Title }} -</h2>
  {{ if and $.Site.Taxonomies.categories (eq $termName "categories") }}
  <div class="tags">
    {{ range $.Site.Taxonomies.categories.ByCount }}{{ if .Name }}<a href="{{ .Page.RelPermalink }}"><span>{{ .Page.Title }}</span><small>({{ .Count }})</small></a>{{ end }}{{ end }}
  </div>
  {{ else if and $.Site.Taxonomies.tags (eq $termName "tags") }}
  <div class="tags">
    {{ range $.Site.Taxonomies.tags.ByCount }}{{ if .Name }}<a href="{{ .Page.RelPermalink }}"><span>{{ .Page.Title }}</span><small>({{ .Count }})</small></a>{{ end }}{{ end }}
  </div>
  {{ end }}
</div>
{{ end }}
