<head>
  <title>{{ .Site.Title }} | Portfolio</title>
  {{ $stylesheet := resources.Get "scss/main.scss" | toCSS | minify }}
  <link rel="preload" as="style" href="{{ $stylesheet.RelPermalink }}" />
  <link rel="stylesheet" href="{{ $stylesheet.RelPermalink }}" />
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="{{ .Site.Params.author.name }}" />
  <meta name="description" content="{{ .Site.Params.author.description }}" />
  <link rel="canonical" href="{{ .Permalink }}" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <meta name="theme-color" content="#fff" />
  <link rel="manifest" href="/site.webmanifest" />
</head>
